<div class="main">
  <div class="form">
      <form [formGroup]="Forgotpassword">
          <div class="Head">
              <div class="FundoNote-Logo" style="font-size: x-large;">
                  <span style="color: #4285f4;">F</span>
                  <span style="color: #ea4335;">u</span>
                  <span style="color: #fbbc05;">n</span>
                  <span style="color: #4285f4;">d</span>
                  <span style="color: #34a853;">o</span>
                  <span style="color: #ea4335;">N</span>
                  <span style="color: #fbbc05;">o</span>
                  <span style="color: #4285f4;">t</span>
                  <span style="color: #34a853;">e</span>
              </div>
              <div style="text-align:center; ;">
                  <h1>Reset Password</h1>
                  <h3>Enter a new Password</h3>
              </div>
          </div>
          <div class="Password"style="text-align:center; ;">
            <p>
              <mat-form-field appearance="outline" style="width: 80%;">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline"style="width: 80%;">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" formControlName="confirmPassword" >
              </mat-form-field>
            </p>
    
          </div>
          <button class="Button2" (click)="onSubmit()" >Next</button>
      </form>
  </div>

</div>