<div class="main">
    <div class="form">
        <form [formGroup]="Forgotemail">
            <div class="Head">
                <div class="FundoNote-Logo" style="font-size: x-large;">
                    <span style="color: #4285f4;">F</span>
                    <span style="color: #ea4335;">u</span>
                    <span style="color: #fbbc05;">n</span>
                    <span style="color: #4285f4;">d</span>
                    <span style="color: #34a853;">o</span>
                    <span style="color: #ea4335;">N</span>
                    <span style="color: #fbbc05;">o</span>
                    <span style="color: #4285f4;">t</span>
                    <span style="color: #34a853;">e</span>
                </div>
                <div style="text-align:center; ;">
                    <h1>Reset Password</h1>
                    <h3>Enter a new Password</h3>
                </div>
            </div>
            <div class="gmail-container">
                <mat-form-field appearance="outline" style="width: 85%;">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="@gmail.com" formControlName="email">
                </mat-form-field>
            </div>
            <button class="Button2" (click)="onSubmit()" >Next</button>
        </form>
    </div>
  
  </div>