
.icon{
   
    padding-right: 20px;
    size: 20px;
    height: 20px;
    border:none;
    padding-top: 10px;
  }
  .flex{
   display: flex;
  flex-direction: row;}
  
  .colorBox{
    padding: 1px;
    width: 50px;
   
  }
  .colors{
    height: 40px; 
    width:40px; 
    border-radius: 35px;
  }
 