<div  fxLayout="row">
    <div class="Limages" mat-flat-button>
        
            <img src="../../../assets/icons/alert.svg" width="18px" height="18px">
       
    </div>
    <div class="Limages" mat-flat-button>
        
            <img src="../../../assets/icons/personAdd.svg" width="18px" height="18px">
        
    </div>
    <div class="Limages" mat-flat-button>
       
            <img src="../../../assets/icons/pallete.svg" width="18px" height="18px">
        
    </div >
    <div class="Limages" mat-flat-button>
        
            <img src="../../../assets/icons/album.svg" width="18px" height="18px">
       
    </div>
    <div class="Limages" mat-flat-button>
        
            <img src="../../../assets/icons/archive.svg" width="18px" height="18px">
       
    </div>
    <div class="Limages" mat-flat-button>
        
            <img src="../../../assets/icons/more.svg" width="18px" height="18px">
        
    </div>
    
</div>