.Limages {
    justify-content: center;
    align-items:center;
    
    background-color: transparent;
   
    border-radius: 100%;
    margin: 10x;
    top: 20%;
    left: 0;
    padding: 10px;
    
}
