<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color=#202124 class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="LImage">
            <img class="image" src="../../../assets/keep_2020q4_48dp.png" alt="">
        </div>
        <h1 class="example-app-name">FundoNote</h1>
        <div class="searchbox" fxLayout="row" fxLayoutAlign="center center" >

            <img src="../../../assets/icons/search.svg" width="24px" height="24px" matPrefix>

            <input type="text" placeholder="Search">

        </div>
        <div style="padding-right: 350px;"></div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div>
                <button class="imgrefresh" mat-flat-button>
                    <img src="../../../assets/icons/refresh.svg" width="24px" height="24px"></button>
            </div>
            <div>
                <button class="imggridview" mat-flat-button><img
                        src="../../../assets/icons/grid_view_FILL0_wght400_GRAD0_opsz48.svg" width="24px"
                        height="24px"></button>
            </div>
            <div>
                <button class="imgsetting" mat-flat-button><img
                        src="../../../assets/icons/settings_FILL0_wght400_GRAD0_opsz48.svg" width="24px"
                        height="24px"></button>
            </div>
            <div>
                <button class="imgapp" mat-flat-button><img src="../../../assets/icons/app.svg" width="24px"
                        height="24px"></button>
            </div>
            <div>
                <button class="imgperson" mat-flat-button (click)="logout()"><img src="../../../assets/icons/person.svg" width="24px"
                        height="24px"></button>
            </div>
        </div>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list class="sidenav">
                <a mat-list-item routerLink="/dashboard/note">
                    <img class="icon" src="../../../assets/icons/svgexport-23.png" alt="notes">
                    Notes</a>
                <a mat-list-item>
                    <img class="icon" src="../../../assets/icons/svgexport-24.png" alt="Reminder">
                    Reminder</a>
                <a mat-list-item>
                    <img class="icon" src="../../../assets/icons/svgexport-25.png" alt="Edit Lable">
                    Edit Lable</a>
                <a mat-list-item routerLink="/dashboard/archive">
                    <img class="icon" src="../../../assets/icons/svgexport-26.png" alt="Archive">
                    Archive</a>
                <a mat-list-item routerLink="/dashboard/trash">
                    <img class="icon" src="../../../assets/icons/svgexport-27.png" alt="Trash">
                    Trash</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- <div>
        <app-get-all-notes></app-get-all-notes>
    </div> -->
</div>