<div class="display ">
    <div  *ngFor="let note of Notesarray ">
        <mat-card class="notes">
            <div class="Title">
                <p (click)="openDialog(note)">{{note.title}}</p>
                <p (click)="openDialog(note)">{{note.description}}</p>
            </div>
            <div>
                <app-icon class="icons" [notedata]="note"></app-icon>
            </div>
            <div>
                {{note.notesID}}
            </div>
        </mat-card>
    </div>
</div>
