<div class="main">
  <div class="form">
    <form [formGroup]="registerForm">
      <div class="Head">
        <div class="FundoNote-Logo" style="font-size: x-large;">
          <span style="color: #4285f4;">F</span>
          <span style="color: #ea4335;">u</span>
          <span style="color: #fbbc05;">n</span>
          <span style="color: #4285f4;">d</span>
          <span style="color: #34a853;">o</span>
          <span style="color: #ea4335;">N</span>
          <span style="color: #fbbc05;">o</span>
          <span style="color: #4285f4;">t</span>
          <span style="color: #34a853;">e</span>
        </div>
        <h1>Register to FundoNote</h1>
      </div>
      <div class="Name">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="" formControlName="firstName" />
            <mat-error>Enter first and last names</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="" formControlName="lastName" />
            <mat-error>Enter first and last names</mat-error>
          </mat-form-field>
        </p>
      </div>
      <div class="gmail-container">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" formControlName="email" />
            <mat-error>Enter Email</mat-error>
        </mat-form-field>
      </div>
      <button class="Button1">Use my current email insted</button>
      <div class="Password">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="" formControlName="password" />
            <mat-error>Enter Password</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="" formControlName="confirmPassword" />
            <mat-error>Confirm Password</mat-error>
          </mat-form-field>
        </p>

      </div>
      <div class="Check-ShowPass">
        <mat-checkbox >Show Password </mat-checkbox>
      </div>
      <div class="Button">
        <button class="Button3" >Sign in insted</button>
        <button class="Button2" (click)="onSubmit()" >Next</button>
        
      </div>

    </form>

  </div>
  <div class="LImage">
    <img class="image" src="../../../assets/account.svg" alt="">
  </div>

</div>