<div style="border:rgb(0, 0, 0); border-width:2px; border-style:solid;">
  <div class="Name">
    <p>
      <mat-form-field appearance="outline">
        <h1>Create Account</h1>
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="First Name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Last Name">

      </mat-form-field>
    </p>
  </div>
  <div class="Email">
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Email Adress">

    </mat-form-field>
    
  </div>
  <p>
    <button mat-button>Use my current eamil insted</button>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Mobile Number">

    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Password">

    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Confirm Password">

    </mat-form-field>
  </p>
  <img src="Assets/account.svg" alt="Google SignIn" width="460" height="345">
  <section class="example-section">
    <mat-checkbox class="example-margin">Show Password</mat-checkbox>
    <button mat-button color="primary">Next</button>

  </section>
</div>